<html>  
    {% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'allStyles.css' %}">



<div class="fullPage">
<header>
    {% include "./navMenu.html" %}
</header>

<div class="container">

    
    
    <div class="sidebar">

            <h1> All Reviews </h1>

            <div class ="searchbar">
            <form action="{% url 'search_reviews' %}" method="get" autocapitalize="on">
                <input type="text" name="course_code" placeholder="CSCI120">
                <button type="submit">Search</button>
                </form>  
            </div>

            <div class="deptTableContainer">
            <table class="deptTable">
                <tr>
                </tr>
                {% for dept in depts%}  
                <tr>
                    <td><a href="{% url 'search_reviews' %}?course_code={{ dept.deptCode }}">{{dept.deptName}}</a></td>
                </tr>
                {% empty %}
                    <h3>Empty List</h3>
                {% endfor %}
            </table>
        </div>
        


    </div>

    <div class="content">
        <table>
            <tr>
            </tr>
            {% for review in reviews%}  
            <tr>
            <td>{{review}}</td>
            <td>{{ review.snippet }}</td>
            <td><a href="{%url 'review' review.id %}"> View</a></td>
            </tr>
            {% empty %}
                <h3>Empty List</h3>
            {% endfor %}
            </table>
    </div>
  </div>
</div>


  
<!--
<form action="{% url 'search_reviews' %}" method="get" autocapitalize="on">
    <input type="text" name="course_code" placeholder="CSCI120">
    <button type="submit">Search</button>
    </form>  

<div class="button">
<a href="{% url 'create-review' %}">Submit a Review</a>
</div>

<table>
<tr>
</tr>
{% for review in reviews%}  
<tr>
<td>{{review}}</td>
<td>{{ review.snippet }}</td>
<td><a href="{%url 'review' review.id %}"> View</a></td>
</tr>
{% empty %}
    <h3>Empty List</h3>
{% endfor %}
</table>
-->

</html>