<html>  
    {% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'allStyles.css' %}">

<header>
    {% include "./navMenu.html" %}
</header>

<br>

<h1 style="text-align:center">Departments</h1>

<table>
    
    <tr>
    </tr>
    {% for dept in depts%}  
    <tr>
    <td>{{dept.deptCode}}</td>
    <td>{{ dept.deptName }}</td>
    <td><a href="{% url 'search_reviews' %}?course_code={{ dept.deptCode }}">View Reviews</a></td>
    </tr>
    {% empty %}
        <h3>No Departments?</h3>
    {% endfor %}
    </table>

</html>