<html>  
    {% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'allStyles.css' %}">

<header>
    {% include "./navMenu.html" %}
</header>

<h4> I cannot figure out why I cannot add padding here and honestly this page isnt useful in any way so maybe we just delete it?</h4>

<table style="padding:10px">
    
    <tr>
    </tr>
    {% for dept in depts%}  
    <tr>
    <td>{{dept.deptCode}}</td>
    <td>{{ dept.deptName }}</td>
    <td><a href="{% url 'search_reviews' %}?course_code={{ dept.deptCode }}">View Reviews</a></td>
    </tr>
    {% empty %}
        <h3>Empty List</h3>
    {% endfor %}
    </table>

</html>