<!DOCTYPE HTML>
<html>  
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'allStyles.css' %}">
    <head>
    <style>
      body {
        background-image: url('../static/clark_background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      p-2{
        background-image: url('../static/clark_background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>



    <header>
        <!-- inserts the nav menu-->
        {% include "./navMenu.html" %}   
    </header>

    



    <body>
        <!--<div class="container-fluid-p-0 d-flex flex-row belowNav justify-content-center align-items-center vh-100">-->
          <div class="d-flex flex-column belowNav justify-content-center align-items-center">
            <br>
            <br>
            <br>
          <div class="p-2"><h1>Welcome to CUCourses!</h1> </div>
          <div class="searchbar flex-fill vh-33">
            <form action="{% url 'search_reviews' %}" method="get" autocapitalize="on">
              <input id="search-input" type="text" name="search_terms" placeholder="Search for Course ID or Department" class="input-group-text form-control form-control-lg">
              <input type="hidden" name="page" value="1">
              <button id="search-button" class="btn btn-light btn-lg mt-1 align-items-center" type="submit">Search</button>
            </form>
         </div>

         <br>
         <br>
         <br>

         <!--Shows 3 most recent reviews-->
         <div class="p-2"><h2>Recent Reviews</h2> </div>   
          <div class="contentTable col-9">
              {% include "./reviewTable.html" %} 
              
          </div>
        </div>
        
      </body>

      <!--
    <body>
        <!-- container for the main portion of the page
            
            
                <div class="container-fluid-p-0 d-flex flex-row belowNav">   
                <div class ="searchbar ">
                    <form action="{% url 'search_reviews' %}" method="get" autocapitalize="on">
                        <input id="search-input" type="text" name="search_terms" placeholder="Search for Course ID or Department" class="input-group-text form-control form-control-sm ">
                        <input type="hidden" name="page" value="1">
                        <button id="search-button" class = "btn btn-light btn-sm mt-1" type="submit">Search</button>
                    </form>
                </div>
            </div>
            
        </div>
    </body> -->


</html>