{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'allStyles.css' %"> 
    </head>
    
<nav id = "mainNav">
    <ul>
        <li ><a class = "noHover" href="{% url 'reviews' %}"> 
                <img src= "{% static 'cuPic.png' %}" alt="About" width="70" height="50">  
            </a>
        </li>

        {%if request.user.is_authenticated%}
            <li>
                <a class="noHover"> Hi {{request.user|title}}</a>

            </li>
        {%else%}
        {% endif %}

        <li><a href="{% url 'reviews' %}">Home</a></li>
        <li><a href="{% url 'departments' %}">Departments</a></li>

        <li><a href="{% url 'create-review' %}">Create Review</a></li>


        <li>
            {%if request.user.is_authenticated%}
            <a href="{% url 'logout' %}" class="username-tooltip" data-username="{{ request.user.username }}">Logout</a>
            <!--- <p> {{user.username}} </p>-->
            
            {%else%}
            <a href ="{% url 'login' %}">Login</a>
            {% endif %}
        </li>

            
    </ul>
</nav>
