<!-- 
<!DOCTYPE html>
<head>

</head>

<body>
    <div class="container ">
        <header> 
            -->
            <head>
                <link rel="stylesheet" type="text/css" href="{%static 'allStyles.css' %">
              </head>
              
            <nav id = "mainNav">
                <ul>
                    <li><a href="{% url 'reviews' %}">Home</a></li>
                    <li><a href="{% url 'create-review' %}">Create Review</a></li>
                    <li><a href='#'> dummyLink :)</a></li>
                </ul>
            </nav>
            <!---

        </header>


    </div>

</body>
-->
