
<title>CUCourses - Review</title>
<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'allStyles.css' %}">
    
    
    <header>
        {% include "./navMenu.html" %}
    </header>

    <body>
    
        <div class="container-fluid-p-0 d-flex flex-row belowNav" Style = "background: var(--primary-color);">
            
            <!-- End of sidebar, beginning of main page content-->
            <div class="unrestrictedContentTable  bg-light  ">
                <div class="review-details">
                <div class="box m-3 rounded"> 
                    <h3> {{review.course}} - {{review.course.courseName}} </h3>
                    <h3> Course Instructor: {{review.instructor}} </h3>
                    
                    <div class = "innerlbox border-rounded border">

                        <p id="review-text" style="font-size: 20px;">{{review.reviewText}}</p>

                    </div>

                    <!-- IDEALLY in a perfect world the info in the lines below should be portrayed by a graphic, not a line. -->
                    
                    <div class="ratings-row">
                        <div class="ratings-column">
                            <h3>Fun:</h3>
                            <img class="stars" src="{% static '/stars/'|add:review.fun|add:'stars.png' %}">
                        </div>

                        <div class="ratings-column">
                            <h3>Interesting:</h3>
                            <img class="stars" src="{% static '/stars/'|add:review.interesting|add:'stars.png' %}">
                        </div>

                        <div class="ratings-column">
                            <h3>Difficult:</h3>
                            <img class="stars" src="{% static '/stars/'|add:review.difficult|add:'stars.png' %}">
                        </div>
                    </div>

                    {% if review.anon %}
                    <h4> Reviewed by: Anonymous </h4>
                    {% else %}
                    <h4> Reviewed by: {{review.user}} </h4>
                    {% endif %}

                    
                </div>
                <a href="mailto:lrolandkalb@clarku.edu?subject=Review_Report&body=Reporting Review #{{review.id}}"><img class="report-button" src="{% static '/report.png' %}"></img></a>
                
            </div>
            

        </div>

    </body>

</html>