<html>
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'allStyles.css' %}">

        <header>
            {% include "./navMenu.html" %}
        </header>



        <body>
            <div class="container-fluid-p-0 d-flex flex-row belowNav">
                
                <!-- End of sidebar, beginning of main page content-->
                <div class="contentTable bg-light">
                    <div>
                        <form method="post" class="box m-3 text-center rounded">
                            {% csrf_token %}
                            <div>
                                <label for="{{ form.course.id_for_label }}">Course Code</label>
                                {{ form.course }}
                            </div>
                            <div class="m-2">
                                <label class="m-2" for="{{ form.instructor.id_for_label }}">Course Instructor</label>
                                {{ form.instructor }}
                            </div>
                            <div>
                                <label class="m-2" for="{{ form.reviewText.id_for_label }}">Review </label>
                                {{ form.reviewText }}
                            </div>
                            <div>
                                <label for="{{ form.anon.id_for_label }}" class="left-label">Post Anonymously</label>
                                {{ form.anon }}
                            </div>
                            <div>
                                <label for="{{ form.textbook.id_for_label }}">Textbook Required</label>
                                {{ form.textbook }}
                            </div>
                            <div>
                                <label for="{{ form.fun.id_for_label }}" class="left-label">Fun</label>
                                {{ form.fun }}
                            </div>
                            <div>
                                <label for="{{ form.interesting.id_for_label }}" class="left-label">Interesting</label>
                                {{ form.interesting }}
                            </div>
                            <div>
                                <label for="{{ form.difficult.id_for_label }}" class="left-label">Difficult</label>
                                {{ form.difficult }}
                            </div>
                            <input type="hidden" name="user" value="{{ request.user.pk }}">
                            <button type="submit">Submit</button>
                            <!--
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="hidden" name="user" value="{{ request.user.pk }}">
                                <button type="submit">Submit</button> -->
                            </form>
                    </div>
                </div>
        </body>
</html>
<!--
<form method="POST" action="">
    {%csrf_token%}
    {{form.as_p}}
<input type="submit" value="Submit">


</form>
-->