

<html>
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'allStyles.css' %}">

    <header>
        {% include "./navMenu.html" %}
    </header>

    <body>
        <div class="container-fluid-p-0 d-flex flex-row bg-warning">

            <div class="sideContainer col-3">
                {% include "./sideMenu.html" with title_phrase="Search for: " course_search=course_code %}
            </div>

            <div class="contentTable col-9">
                {% include "./reviewTable.html" %} 
            
            </div>
        </div>
    </body>


</html>