{% load static %}

<div class="sidebar" style="height: 97%; padding-top: 3%;">
    <!-- Sidebar content-->
    <!-- Dept table-->
    
    <div id="departmentTable" class="deptTableContainer deptTableHidden">
        <table  class="deptTable table table-sm border border-2">
            {% for dept in depts%}  
                <tr>
                    <td><a class="department-button" href="{% url 'search_reviews' %}?search_terms={{ dept.deptName }}&page=1">{{dept.deptName}}</a></td>
                </tr>
            {% empty %}
                <h3>If youre reading this, something is seriously wrong.</h3>
            {% endfor %}
        </table>
    </div>
    <button id='toggle' class="sidebar-toggle" onclick="toggle()">></button>
    <!-- End dept table-->
</div>

<script>

var visible = false;

function toggle() {
element = document.getElementById("departmentTable");
toggleButton = document.getElementById("toggle");
if (visible == false) {
    element.classList.remove("deptTableHidden");
    element.classList.add("deptTableExpanded");
    toggleButton.innerHTML = "<";
    visible = true;
}
else {
    element.classList.remove("deptTableExpanded");
    element.classList.add("deptTableHidden");
    visible = false;
    toggleButton.innerHTML = ">";
}
}

</script>