
body{
    background-color: aliceblue;
    }

.button {

    text-align: center;
    padding: 1cm;
    font-size: large;

}

h1 {
text-align: center;
font-size: xx-large;
}

table {
    background-image: linear-gradient( #bdd0e4, #c7dcbb);
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    }
    
    td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    border-radius: 3%;
    }