
/*imports source serif pro and Crimson text fonts from google, Crimson Text is to be used for headers and titles and stuff, source serif is for body and paragraphs*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


/* VARIABLES */
:root {
--primary-color: rgb(187, 0, 0);
--secondary-color: rgba(99, 99, 99, 0.69);;
--tertiary-color: rgb(250, 255, 184);
--primary-dark: rgb(95, 0, 0);
--black: rgb(27, 27, 27);
--white: rgb(255, 255, 255);
--text-color: rgb(225, 225, 225);
--darkgray: rgb(50,50,50);
--lightgray: rgb(241, 241, 241);
--gradient-vertical: linear-gradient(rgb(187, 0, 0), rgb(255, 255, 255));
--gradient-horizontal: linear-gradient(to right,rgb(187, 0, 0), rgb(255, 255, 255));
--shadow: 2px 4px 4px hsla(0, 0%, 0%, 0.305);
--body-font: 'Source Serif Pro', Times, serif;
--heading-font: 'Crimson Text', Times, serif;
}

/*Defines page background*/
body{
    background-color: var(--white);
    
    }

/* Defines font for all headers*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    /*text-align: center;*/
}

/* Defines form formatting */
form {
    
    color: black;
    /*box-shadow: var(--shadow);*/
}

label{
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}
.left-label + label {
    display: inline-block;
    width: 100px; /* set the width of the label */
    text-align: right; /* align the label to the right */
    margin-right: 10px; /* add some spacing between the label and the field */
}
.left-label {
    display: inline-block;
}


/*Defines formatting for tables */
table {
    background-color: var(--lightgray);
    font-family: var(--body-font);
    border-collapse: separate;

    /*color: var(--text-color)*/
    }
    


/* For hyperlinks */
a {
    text-decoration: underline;
    color: var(--black);
    font-weight: bold;
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
/* End of hyperlinks */


.pagination{
    color: black;
    display: flex;
    justify-content: center;
}



/* Various types of boxes */

/*normal box*/
.box {
    width: auto;
    height: fit-content;
    margin: 0 auto;
    padding: 20px;
    border: solid 3px var(--lightgray);
    background-color: var(--lightgray);
    text-align: center;
    box-shadow: var(--shadow);
    color: black;
}

/*box made specifically for review details page */
.reviewBox {
    width: 75%;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: solid 3px var(--lightgray);
    background-color: var(--lightgray);
    text-align: center;
    border-radius: 2%;
}

/* Left aligned box*/
.leftbox {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: solid 3px var(--lightgray);
    background-color: var(--lightgray);
    text-align: left;
    border-radius: 2%;
    box-shadow: var(--shadow);
    
}

/* Darker grey box, to be used within normal boxes */
.innerlbox {
    /* this is where the review text is displayed*/
    width: 60vw;
    height: auto;
    margin-bottom: 10px;
    padding: 20px;
    background-color: var(--white);
    text-align: center;
}

/*End of box-related classes*/

/* formatting for review details page */

.review-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ratings-row{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.ratings-column{
    display:flex;
    flex-direction: column;
}

.report-button{
    width: 7vw;
    box-shadow: var(--shadow);
}

.stars{
width: 20vw;
padding: 5px;
}

/*formatting for buttons*/
.button {
    text-align: center;
    justify-content: center;
    padding: 1cm;
    font-size: large;

}
/*reviewTable styling starts*/

.reviewTable{
    overflow-y: scroll;
    background-color: var(--white);
    color: var(--text-color);
    padding: 0;
    height: 99%; 
    padding-top: 1%;
    width: 75%;
    min-width: 75vw;
}

.recentReviewTable{
    overflow-y: hidden;
    background-color: var(--white);
    color: var(--text-color);
    padding: 0;
    height: auto !important; 
    padding-top: 1%;
}

.contentTable {
    height: 92vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--white);
    color: var(--text-color);
    width: 100%;

}

.unrestrictedContentTable {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--white);
    color: var(--text-color);
    width: 100%;

}

.tinyContentTable{
    height: 30vh;
    background-color: var(--white);
    color: var(--text-color);
}

.tableReview tr{
    margin-bottom: 10px;
    height: calc(100% / 6);
}

a.view-button {
    color: black;
    text-decoration: none;
}

a.view-button:hover {
    color: blue;
}

.card:hover {
    cursor: pointer;
    background-color: #d4d8dc;
    transition: all 0.3s ease-in-out;
}


.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* End of scrolling table styling */


/* Sidebar stying begins */
.sideContainer {
    height: 92vh;
    background-color: var(--lightgray);
    color: var(--text-color);
}

.searchbar{
    overflow-x: inherit;
}
.mainSearch:searchbar{
    overflow-x: inherit;
    width: 100%;
    box-shadow: var(--shadow);
}

.sidebar {
    height: 92vh;
    background-color: var(--lightgray);
    color: var(--text-color);
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.deptTableContainer {
    height: 100%;
    overflow-y: scroll;
    bottom: 0;
    transition: all .4s ;
}

.deptTableExpanded{
    margin-left:1.5vw;
    width: 20vw ;
    opacity: 1;
}

.deptTableHidden{
    margin-left:0vw;
    width: 0px;
    opacity: 0;
}

.deptTable{
 background-color: var(--white);
}

.sidebar-toggle{
    background-color: var(--lightgray);
    color: rgb(0, 0, 0);
    border: none;
    width: 1.5vw;
    height: 100%;
}

a.department-button {
    color: black;
    text-decoration: none;
}

a.department-button:hover {
    color: blue;
}
/* Sidebar styling ends */

/* Styling for Home Menu */


/*  Styling for the NAV Menu. mainNav is the id */
    
    #mainNav {
        background: var(--primary-color);
        color: var(--black);
        box-shadow: var(--shadow);
        width: 100%;
        height:9vh;
        position: fixed;
        z-index: 999;
    }

    #search-input {
        min-width: 500px;
        border-radius: 20px;
    }
    
    /*this class is to stop the content overlapping with the Navbar*/
    .belowNav {
        padding-top:9vh;
        background: rgb(241, 241, 241);
    }

    
    #mainNav ul{
        padding: 0;
        margin: 0;
        list-style: 0;
        height: 8vh;
        display: flex;
        align-items: center; 
    }

    #mainNav li{
        display: inline-flex;
        vertical-align: middle;
        padding: 10px 10px;
        align-items: center;
        height: 8vh;
    }
    
    /* push the second-to-last menu item to the right */
    #mainNav li:nth-last-child(4) {
        margin-left: auto; 
    }

    #mainNav a{
        color: var(--text-color);
        text-decoration: none;
        font-family: var(--heading-font);
        font-size: 22px;
        border-top: 2px solid transparent;
    }
    
    #mainNav a:not(.noHover):hover {
        border-top-color: var(--text-color);
        color: var(--text-color);
        transition: border-top-color 0.3s ease-in-out;
    }
    
    
    .username-tooltip {
        position: relative;
        display: inline-block;
    }
    
    .username-tooltip:hover::after {
        content: attr(data-username);
        position: absolute;
        top: 27px;
        left: auto;
        right: 0;
        background-color: #555;
        color: var(--text-color);
        padding: 5px;
        margin-top: 5px;
        border-radius: 5px;
        font-size: 14px;
        white-space: nowrap;
    }
    /*end of nav menu styling*/


    /*Overwrites colors for dark mode :) */
    /*
    @media (prefers-color-scheme: dark){
        :root{
            --primary-color: rgb(17, 17, 17);
            --white: rgb(77, 77, 77);
            --lightgray: rgb(47,47,47);
            --black: rgb(255, 255, 255);
        }

    }
    */
    