
/*imports source serif pro and Crimson text fonts from google, Crimson Text is to be used for headers and titles and stuff, source serif is for body and paragraphs*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


:root {
--primary-color: rgb(187, 0, 0);
--secondary-color: rgba(100, 100, 100, 0.69);;
--tertiary-color: rgb(250, 255, 184);
--primary-faded: rgba(187, 0, 0, 0.3);
--black: rgb(27, 27, 27);
--white: rgb(255, 255, 255);
--lightgray: rgba(219, 219, 219, 0.69);
--gradient-vertical: linear-gradient(rgb(187, 0, 0), rgb(255, 255, 255));
--gradient-horizontal: linear-gradient(to right,rgb(187, 0, 0), rgb(255, 255, 255));
--shadow: 4px 8px 8px hsla(0, 0%, 0%, 0.305);
}

body{
    background-color: var(--white);
    }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', 'Source Serif Pro' , sans-serif;
    /*text-align: center;*/
    }
    
form {
text-align: center;
background-color: var(--primary-color);
padding: 1cm;
}

table {
    background-color: var(--lightgray);
    font-family: 'Source Serif Pro', sans-serif;
    width: 100%;
    border-collapse: collapse;
    box-shadow: var(--shadow);
    padding: 10px;
    padding-top: 10px;
    }
    td {
    border: 1px solid var(--black);
    padding: 8px;
    text-align: left;
    overflow-wrap:normal;
    margin-right: 10px;
    }
    
/* User defined classes */

.pagination{
    display: flex;
    justify-content: center;
    font-size: larger;
}

.box {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: solid 3px var(--lightgray);
    background-color: var(--lightgray);
    text-align: center;
    box-shadow: var(--shadow);
}
.reviewBox {
    width: 75%;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: solid 3px var(--lightgray);
    background-color: var(--lightgray);
    text-align: center;
    border-radius: 2%;
}
.leftbox {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: solid 3px var(--lightgray);
    background-color: var(--lightgray);
    text-align: left;
    border-radius: 2%;
    box-shadow: var(--shadow);
}

.innerlbox {
    /* this is where the review text is displayed*/
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--white);
    text-align: left;
}

/*.box:hover { 
    border-style : dotted;
    }
*/
.button {

    text-align: center;
    padding: 1cm;
    font-size: large;

}

.reviewTableContainer{
    max-height: 86vh;
    overflow-y: scroll;
}
/* Styling for sidebar menu */
.deptTableContainer {
    height: 12cm;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}
.deptTableContainer {
    flex-shrink: 1;
    overflow-y: scroll;
    overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
}
.container {
    display: flex;
    height: 90vh;
    flex-direction: row;
}
.searchbar{
    overflow-x: inherit;

}
.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 7cm;
    width: 30vh;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px;
    box-shadow: var(--shadow);
    margin-top: 10px;
  }
  
  .content {
    flex: 1;
    padding: 10px;
  }
  
  a {
    text-decoration: underline;
    color: var(--black);
    font-weight: bold;
  }

  a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }

/*  Styling for the NAV Menu. mainNav is the id */
    
    #mainNav {
        background: var(--primary-color);
        color: rgb(0, 0, 0);
        box-shadow: var(--shadow);
        
    
    }
    
    #mainNav ul{
        padding: 0;
        margin: 0;
        list-style: 0;
        height: 8vh;
        display: flex; /* add this to create a flex container */
        /*justify-content: center; /* add this to center the child elements */
        align-items: center; /* add this to center the child elements vertically */
    }

    #mainNav li{
        display: inline-flex;
        vertical-align: bottom;
        padding: 10px 10px;
        align-items: center;
    }

        #mainNav li:nth-last-child(4) {
        margin-left: auto; /* push the second-to-last menu item to the right */
    }

    #mainNav a{
        color:rgb(255, 255, 255);
        text-decoration: none;
        font-family: 'Crimson Text', 'Source Serif Pro' , sans-serif;
        font-size: 22px;
        border-top: 2px solid transparent;
    }
    
    #mainNav a:not(.noHover):hover {
        border-top-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        transition: border-top-color 0.3s ease-in-out;
    }
    
    
    .username-tooltip {
        position: relative;
        display: inline-block;
    }
    
    .username-tooltip:hover::after {
        content: attr(data-username);
        position: absolute;
        top: 27px;
        left: auto;
        right: 0;
        background-color: #555;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
        white-space: nowrap;
    }