
body{
background-color: aliceblue;
}

.box {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: solid 3px black;
    background-image: linear-gradient( #bdd0e4, #c7dcbb);
    text-align: center;
    border-radius: 2%;
}

.box:hover { 
    border-style : dotted;
  }

